@import '../Variables/Colors.scss';

// All kinds of inputs are styled here

.input-text {
  border: 1px solid $inputBorder;
  border-radius: 4px;
  padding: 14px 16px;
  margin-bottom: 50px;
}

input:placeholder-shown {
  color: $placeholderColor;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid $inputBorder;
  border-radius: 50%;
}

.radio-container input:checked~.checkmark {
  border: 1px solid $secondary;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked~.checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 4px;
  left: 4.25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $secondary;
}

.input-file {
  display: none;
}

.input-container-file {
  padding: 0;
  display: flex;
  margin-top: 35px;
  margin-bottom: 50px;

}

.input-container-file.btn-upload p {
  align-self: center;
  margin: 0;
}

.input-container-file .upload-text {
  border: 1px solid $inputBorder;
  width: 100%;
  height: 52px;
  border-radius: 0px 4px 4px 0px;
  color: $placeholderColor;
  display: flex;
}

.input-container-file .upload-text p {
  margin-left: 16px;
}

.input-container-file p {
  align-self: center;

}