// Color theme

$primary: #F4E041;
$secondary: #00BDD3;

$background: #F8F8F8;
$darkBackground: #212121;

$inputBorder: #D0CFCF;
$placeholderColor: #7E7E7E;
$disabled: #B4B4B4;

$primaryHover: #FFE302;

$white: #FFFFFF;
$black: #000000;