@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

// Font theme

$baseFontFamily: 'Nunito';
$baseFontWeight: 400;
$baseFontSize: 16px;
$baseLineHeight: 26px;

$titleFontSize: 40px;
$titleLineHeight: 40px;