@import '../Variables/Colors.scss';

// Button styles, all base buttons styles are styled here.
// The smaller differences, like giving margin to a button in one specific element is styled in that element css file

.btn {
  border: none;
  cursor: pointer;
  border-radius: 80px;
  font-size: inherit;
  width: 100px;
  text-align: center;
  display: block;
  height: 30px;
  padding-top: 2px;
}

.btn-center {
  margin: auto;
}

.btn:disabled {
  background-color: $disabled;
  color: $white;
  cursor: default;
}

.btn-primary {
  background-color: $primary;
  color: $black;
}

.btn-primary:enabled:hover {
  background-color: $primaryHover;
}

.btn-upload {
  border: 1px solid #000000;
  border-radius: 4px 0px 0px 4px;
  height: 53px;
  background-color: transparent;
  width: 83px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.buttons-container {
  display: flex;
}